body {
	font-family: "Inter", sans-serif !important;
}

.nav-link, .logo {
	/*color: #FFEAB3 !important;*/
	/*font-weight: 900;*/

}

.nav-link {
	font-size: 1.25rem;
	/*font-weight: 700;*/
}

.logo {
	font-size: 1.5rem;
}


.top {
	background-color: #4ECDFB;
	font-family: "Inter", sans-serif;
}

.titleheader {
	font-weight: 900;
	font-size: 8rem;
	text-align: left;
	line-height: 1;
}


.coastalhacks {
	padding: 4rem 0 1.5rem 0;

}

.slogan {
	font-size: 2rem;
	color: white;
	font-weight: normal;
}

#headermain {
	background-color: #4ECDFB;
}

.learn {
	color: white;
	font-size: 1.5rem;
	font-weight: Bold;
}

.main {
	padding: 6rem 0 3rem;
}

.box {
	width: 100%;
	background-color: #FFEAB3;
	border-radius: 20px;
	margin: 2rem 0;
	padding: 1.3rem;
	padding-bottom: 0.65rem; /* another makeshift solution so the website looks better in draft mode */
}

.box2 {
	width: 100%;
	background-color: #FFE900;
	border-radius: 20px;
	margin: 2rem 0;
	padding: 1.3rem;
	padding-bottom: 0.65rem;
}

.box3 {
	width: 100%;
	background-color: #FFC45E;
	border-radius: 20px;
	margin: 2rem 0;
	padding: 1.3rem;
	padding-bottom: 0.65rem;
}